:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    --ff-primary:  'Outfit', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;


    --fs-paragragh: 0.9375;

}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--Light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.container {
    box-sizing: border-box;
    width: 80%;
    background-color: var(--White);
    padding: 1.5rem 1rem;
    border-radius: 1rem;
}

img {
    max-width: 100%;
    display: block;
    border-radius: .75rem;
}

h1 {
    --fs-h1: 1.5;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--Dark-blue);
    font-size: var(--fs-h1)rem;
}

p {
    text-align: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-paragragh)rem;
    font-weight: var(--fw-regular);
    color: var(--Grayish-blue);
}

.attribution{
    margin-top: .5rem;
}


@media (min-width: 50em){
    .container{
        width: 25%;
    }
}